#auth.btn-group.pull-right
  if (isAuthenticated)
    a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
      i.icon-user 
      span  #{user.firstName} 
      span.caret
    ul.dropdown-menu
      li
        a(href="#")
          i.icon-book
          span  Link Here
      li
        a(href="#")
          i.icon-bookmark
          span  Link Here
      li.divider
      li 
        a(href="/logout")
          i.icon-remove 
          span  Log Out
  else
    a.btn.login(href="/login") 
      i.icon-hand-right
      span  Log In
    