#auth.btn-group.pull-right
  if (isAuthenticated)
    a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
      i.icon-user 
      span  #{user.firstName} 
      span.caret
    ul.dropdown-menu
      li 
        a(href="/logout") Log Out
  else
    a.btn.login(href="/login") Log In
    