extends templates/standard

block append css
  link(rel='stylesheet', href='/css/home.css')

block content
  h1 Generic Company Audio
  #search-wrap.clearfix
    #search-box
      form(action="/search")
        label(for="search") Search
        input(id="search", type="text", name="terms")
        .search-actions
          button(type="submit", name="awesome")
            span Awesome
          button(type="submit", name="sweet")
            span Sweet
    .copy
      p How to search:
      ul
        li By Campaign
        li By Date
        li By Telephone Number
        li By Agent Name