extends templates/standard

block append css
  link(rel='stylesheet', href='/css/home.css')

block content
  #search-wrap.row-fluid
    .span1
    #search-box.span10
      h1 Audio Search
      #filter-wrap
        //form(action="/search")
        input.search.span12(type="text", name="directory", autocomplete="off", placeholder="Type to filter directories")
          //input.btn.btn-primary(type="submit") Submit
      ul#directory-list.list
        each dir, iter in dirList
          li 
            if error
              span.directory #{dir}
            else
              a.directory(href="/searchDirectory?directory=#{dir.directory}") /#{dir.filename}
  .directions.row-fluid
    .span1
    .span10
      h2 How to search
      ol
        li Type to filter results
        li Select campaign directory
        li Select date directory
        
block append script
  script(src="/js/home.js")
        