extends templates/standard

block append css
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  h1 Coventry Audio
  #search-wrap.clearfix
    form(action="/search")
      label(for="search") Search
      input(id="search", type="text", name="terms")
      .search-actions
        button(type="submit", name="awesome")
          span Awesome
        button(type="submit", name="sweet")
          span Sweet
    .copy
      p Search instructions here.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed felis sem, suscipit ac aliquam vel, pharetra eget lacus. Aenean scelerisque dui at lorem pretium sodales. Aliquam quis pharetra orci. Integer a tellus justo, ut malesuada purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Morbi dapibus magna a tortor laoreet nec placerat eros sollicitudin.
      p Integer pellentesque justo sed lacus volutpat ac dictum metus sagittis. Pellentesque id velit leo. Aliquam sit amet mi magna. Praesent vehicula, lorem non tempor iaculis, mauris libero lacinia est, at molestie libero libero eget neque. Etiam consequat tortor eget ligula condimentum venenatis ut eget massa. Phasellus vestibulum, dolor et luctus tincidunt, tortor mauris pretium velit, in ornare leo eros eget tellus. Cras id velit id dui pulvinar sollicitudin id ac sapien. Maecenas velit odio, egestas quis porttitor et, aliquam id libero. Suspendisse fermentum bibendum tristique.
      p Sed lectus augue, semper ac porta nec, sollicitudin at arcu. Etiam in risus ac quam egestas tempor. Curabitur eget commodo leo. Proin sollicitudin adipiscing felis in consequat. Cras ultricies mi mollis massa auctor tincidunt. Aliquam auctor laoreet erat at volutpat. Sed at tellus et nulla euismod lacinia. Phasellus faucibus neque nunc, vitae rhoncus purus. Nullam ut massa nulla, vitae aliquet urna.
      p Nam sollicitudin, tellus id consequat vehicula, nisl metus rutrum erat, et hendrerit neque mi nec tortor. Ut tempor mollis leo, nec viverra ligula varius vel. Cras accumsan rutrum sodales. Aliquam semper orci nec nisl tincidunt luctus at in elit. Nullam semper ultricies nisi, in ullamcorper enim adipiscing eu. Suspendisse malesuada sem vitae purus pellentesque ac euismod dolor faucibus. Duis lacinia tristique metus et viverra. Integer vitae magna erat.
      p Curabitur pretium, velit ut iaculis molestie, tortor dui eleifend lectus, sit amet venenatis metus justo vitae odio. Aenean arcu est, congue et consequat et, pellentesque interdum magna. Sed vitae viverra arcu. Proin imperdiet fringilla nulla, ac mollis mauris blandit sed. Nam eleifend fringilla consequat. Suspendisse elementum porttitor dolor, vitae bibendum nunc semper vel. Nunc neque felis, ultricies non ornare eget, sagittis ac ipsum. Aenean volutpat nibh eu eros pretium luctus. Pellentesque ac justo quam, sit amet tristique erat.
