extends templates/template

block append css
  link(rel='stylesheet', href='/stylesheets/login.css')

block content
  h1 Log In
  #login-wrap.clearfix
    #login-info
      p Information about logging in here.
    #login
      h3 Log In
      h4 #{message}
      form(action="/loginUser", method="post")
        .username
          label(for="username") Username
          input(id="username", type="text", name="username")
        .password
          label(for="password") Password
          input(id="password", type="password", name="password")
        .actions
          button(type="submit")
            span Log In


