extends templates/standard

block append css
  link(rel='stylesheet', href='/css/login.css')

block content
  #login-wrap.row-fluid
    #login-info.span8
      h1 Log In
      p Log in using your username and password. If you do not have an account, please contact us.
    #login.well.span4
      i.icon-lock 
      h4 Log In
      p.error #{message}
      form(action="/login", method="post")
        .username
          label(for="username") Username
          input.span12(id="username", type="text", name="username")
        .password
          label(for="password") Password
          input.span12(id="password", type="password", name="password")
        .login-actions
          button.btn.btn-primary(type="submit")
            span Log In
