extends templates/standard

block append css
  link(rel='stylesheet', href='/css/login.css')

block content
  h1 Log In
  #login-wrap.clearfix
    #login-info
      p Information about logging in here.
      p Sed lectus augue, semper ac porta nec, sollicitudin at arcu. Etiam in risus ac quam egestas tempor. Curabitur eget commodo leo. Proin sollicitudin adipiscing felis in consequat. Cras ultricies mi mollis massa auctor tincidunt. Aliquam auctor laoreet erat at volutpat. Sed at tellus et nulla euismod lacinia. Phasellus faucibus neque nunc, vitae rhoncus purus. Nullam ut massa nulla, vitae aliquet urna.
      p Nam sollicitudin, tellus id consequat vehicula, nisl metus rutrum erat, et hendrerit neque mi nec tortor. Ut tempor mollis leo, nec viverra ligula varius vel. Cras accumsan rutrum sodales. Aliquam semper orci nec nisl tincidunt luctus at in elit. Nullam semper ultricies nisi, in ullamcorper enim adipiscing eu. Suspendisse malesuada sem vitae purus pellentesque ac euismod dolor faucibus. Duis lacinia tristique metus et viverra. Integer vitae magna erat.
      p Curabitur pretium, velit ut iaculis molestie, tortor dui eleifend lectus, sit amet venenatis metus justo vitae odio. Aenean arcu est, congue et consequat et, pellentesque interdum magna. Sed vitae viverra arcu. Proin imperdiet fringilla nulla, ac mollis mauris blandit sed. Nam eleifend fringilla consequat. Suspendisse elementum porttitor dolor, vitae bibendum nunc semper vel. Nunc neque felis, ultricies non ornare eget, sagittis ac ipsum. Aenean volutpat nibh eu eros pretium luctus. Pellentesque ac justo quam, sit amet tristique erat.
    #login
      h2 Log In
      p.error #{message}
      form(action="/loginUser", method="post")
        .username
          label(for="username") Username
          input(id="username", type="text", name="username")
        .password
          label(for="password") Password
          input(id="password", type="password", name="password")
        .actions
          button(type="submit")
            span Log In

