extends templates/template

block append css
  link(rel='stylesheet', href='/stylesheets/search.css')

block content
  each result in results
    h2 #{result.path} #{result.filename} #{result.filetype}
