extends templates/template

block append css
  link(rel='stylesheet', href='/stylesheets/search.css')

block content
  each result in results
    h5 #{result.path} 
    h5 #{result.filename} 
    h5 #{result.ext}
    //- h2 #{result}
  audio(src="/sounds/dohaaa.wav", controls)
