extends templates/standard

block append css
  link(rel='stylesheet', href='/stylesheets/search.css')

block content
  h1 Search Results
  #results-wrap
    each result in results
      p #{result.path} 
      //- p #{result.filename} 
      //- p #{result.ext}
      //- h2 #{result}
    audio(src="/sounds/dohaaa.wav", controls)
      p Your browser doesn't support HTML5 audio
