#footer
  nav#footer-nav
    ul.first
      li 
        a About
      li 
        a Careers
      li
        a Contact
      li 
        a Blog
    ul
      li 
        a Philanthropy
      li 
        a Sustainability
      li
        a Advertising
      li 
        a Solutions
    ul
      li 
        a Privacy
      li 
        a Terms & Conditions
      li
        a Tracking
      li 
        a Personal Information
    ul
      li 
        a International
      li 
        a Directives
      li
        a Mission
      li 
        a Growth
