button.sort {
  margin-top: -5px;
}
#filter-wrap {
  border-bottom: 5px solid #F89406;
  background-color: white;
  opacity: 0.95;
  &.fixed {
    position: fixed;
    top: 40px;
    z-index: 1;
    input {
      margin-top: 5px;
    }
  }
  input {
    margin: 0 0 5px;
    display: inline;
  }
}
#results {
  margin: 0;
  padding: 5px 0 0;
  &.fixed {
    padding: 45px 0 0;
  }
  p.hidden {
    display: none;
  }
}
@media (max-width: 979px) {
  #filter-wrap.fixed {
    position: static;
  }
  #results.fixed {
    padding: 5px 0 0;
  }
}
.result {
  padding: 10px 10px 5px;
  background-color: #ddd;
  border: 1px solid white;
  margin: 0 0 5px;
  &.odd {
    background-color: #eee;
  }
  &:hover {
    background-color: #ccc;
  }
  h4 {
    font-size: 16px;
    padding: 8px 0 0;
  }
  p {
    padding: 8px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    i {
      margin: 0 5px 0 10px;
    }
    i.icon-download-alt {
      margin: 0 10px 0 0;
    }
    span {
      display: inline-block;
      min-width: 90px;
    }
  }
  p.directory {
    padding-left: 19px;
  }
}
p.no-files-found {
  padding: 180px 0;
  text-align: center;
}
