body {
  font-family: 'Inconsolata', arial, sans-serif;
  overflow-y: scroll;
}
h1, h2, h3, h4, h5 {
  letter-spacing: 4px;
}
h1 {
  font-size: 39px;
  padding: 4px 0 0;
  line-height: 1.2;
}
ul {
  list-style: none;
}
label, input {
  display: block;
}
label {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
}
input {
  padding: 6px 5px 5px;
  border: 2px solid black;
}
pre {
  margin: 0;
}
p {
  font-size: 19px;
}
button {
  padding: 6px 10px;
}
button span {
  font-size: 13px;
  font-weight: bold;
}

/*
 * Header, Authorization, Footer Styles
 */

#footer {
  background-color: #111;
}
#footer-nav {
  color: #eee;
}
#footer-nav ul {
  display: inline-block;
  padding: 20px 40px 50px;
}
#footer-nav ul.first {
  padding-left: 0;
}
#footer-nav ul li {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
}
