#search-box{padding:60px 0 0;}#search-box h1{text-align:center;font-size:30px;letter-spacing:20px;padding:0 0 20px;}
#filter-wrap{padding:5px 0;border-bottom:5px solid #F89406;background-color:white;opacity:0.85;}#filter-wrap.fixed{position:fixed;top:40px;}
#filter-wrap input{margin-bottom:0;}
#directory-list{padding:5px 0 170px;margin:0;}#directory-list.fixed{padding-top:45px;}
#directory-list li{padding:5px;margin:0 0 5px;background-color:#eee;}#directory-list li:hover{background-color:#ddd;}
.directions{font-size:17px;}.directions .how-to-search{border-top:5px solid #f89406;}
.directions h2{font-size:22px;}
.directions p{margin:0;padding:11px 0 0;text-align:right;}
