!!!
html
  head
    meta(charset="utf-8")
    title About
    link(rel='stylesheet', href='/stylesheets/about.css')
  body
  #main-content
    h1 Search Me
    form(action="/search")
      input(type="text", name="terms")
      button(type="submit", name="submit")
        span Awesome