!!!
html
  head
    meta(charset="utf-8")
    title About
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
  body
    include includes/header
    #main-content-wrap
      #main-content
        != body
    include includes/footer