!!!
html
  head
    meta(charset="utf-8")
    title Search
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
  body
  include includes/header
  #main-content
    pre
      code= query
  include includes/footer