#main-content {
    width: 980px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 68px;
}
form {
    text-align: center;
}
input {
    width: 600px;
}
.actions {
    padding: 10px;
}
button {
    margin: 0 10px;
}
button span {
    font-size: 11px;
    font-weight: bold;
}
.copy {
    padding: 40px 0;
}