body {
    font-family: 'Inconsolata', arial, sans-serif;
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, ul, li, p {
    margin: 0;
    font-weight: normal;
}
h1, h2, h3, h4, h5 {
    letter-spacing: 4px;
}
h1 {
    font-size: 39px;
    padding: 4px 0 0;
    border-bottom: 4px solid black;
    line-height: 1.2;
}
label, input {
    display: block;
}
label {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
}
label:hover {
    cursor: default;
}
input {
    padding: 5px;
}
pre {
    margin: 0;
}
a { 
    color: #888; 
}
a:visited { 
    color: #888;
}
a:hover {
    color: #eee;
    cursor: pointer;
}
p {
    font-size: 19px;
}
button {
    padding: 6px 10px;
}
button span {
    font-size: 13px;
    font-weight: bold;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*
 * Header, Authorization, Footer Styles
 */
#header {
    min-width: 980px;
    background-color: black;
}
#auth {
    position: absolute;
    right: 10px;
    padding: 10px 0;
}
#auth span.welcome {
    padding: 0 20px;
}
#auth .actions a {
    padding: 5px 10px;
    border: 1px solid black;
    color: white;
    background-color: #779773;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
#auth .actions a.logout {
    background-color: #cc0000;
}
#main-nav {
    color: #eee;
}
#main-nav ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
#main-nav ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
#main-content-wrap {
    padding: 0 0 50px;
}
#main-content {
    width: 980px;
    margin: 0 auto;
}
#footer {
    min-width: 980px;
    background-color: #111;
}
#footer-nav {
    width: 980px;
    margin: 0 auto;
    color: #eee;
}
#footer-nav ul {
    display: inline-block;
    padding: 20px 40px 50px;
}
#footer-nav ul.first {
    padding-left: 0;
}
#footer-nav ul li {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}
#footer-nav ul li a {}