ul {
    list-style: none;
}
audio {
    width: 100%;
}
a:hover {
    color: #bbb;
}
#filter-search {
    padding: 10px 10px;
    color: white;
    background-color: #555;
    border: 1px solid white;
    outline: 5px solid #555;
    margin: 10px 5px 15px;
}
#filter-search.fixed {
    position: fixed;
    top: 30px;
    z-index: 9999;
}
#filter-search.fixed label {
    display: none;
}
#filter {
    width: 95%;
}

#results {
    padding: 10px 0 0;
}
#results.fixed {
    padding: 95px 0 0;
}
.result {
    padding: 10px 10px;
    background-color: #ddd;
    border: 1px solid white;
    outline: 5px solid #ddd;
    margin: 0 5px 15px;
}
.result.odd {
    background-color: #eee;
    outline: 5px solid #eee;
}
p.filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.audio-file {
    width: 50%;
    float: right;
}